noscript.
  <p>このページは JavaScript を使用しています。<br>お使いのブラウザーは JavaScript が無効になっているか、JavaScript に対応していません。<br>適切にこのページ表示する場合は JavaScriptを有効にするか、JavaScript に対応しているブラウザーでアクセスしてください。</p>

a.txtHidden.skipLink(href="#main") 本文へ移動
