<!--　トップページ -->
section
  .contentInner
    h2 タイトルタイトルタイトルタイトルタイトル
    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
    figure
      img(src=imgPath + "noimage.png", alt="", width="800", height="600", decoding="async", loading="lazy")

<!--/トップページ -->
