@use "../../abstracts" as *;
@use "sass:math";

///-----------------タブコンテンツ//

/* タブコンテンツ */
.c_tab {
  &_list {
    @include mq() {
      gap: spSize(16) spSize(8);
    }

    > li {
      width: 22.8rem;
      @include mq() {
        width: calc((100% - spSize(8)) / 2);
      }

      button {
        transition:
          background-color 0.4s,
          color 0.4s;
        @include mq() {
          height: spSize(40);
          font-size: spSize(12);
        }

        &.-open {
          color: $colorTxtReversal;
          pointer-events: none;
          background-color: $colorPrime;
          box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.16);
          transition:
            background-color 0.4s,
            color 0.4s;
        }
        @include hover {
          color: $colorTxtReversal;
          background-color: $colorPrime;
          box-shadow: 0 0.3rem 0.6rem rgba(#000, 0.16);
        }
      }
    }
  }

  &_content {
    animation: tabFade 0.8s ease;

    &[hidden] {
      opacity: 0;
    }
  }
}

@keyframes tabFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* /タブコンテンツ */
