@use "../../abstracts" as *;
@use "sass:math";

/* FAQ  */
.c_faqList {
  &_q,
  &_a {
    position: relative;

    &::before {
      @include fontsize(32, 24);

      width: 2.4rem;
      font-weight: bold;
      line-height: 1.5;
      color: $colorPrime;
      vertical-align: middle;
      content: "Q";
      @include mq() {
        gap: 0 spSize(12);
        width: spSize(18);
        line-height: calc(35 / 24);
      }
    }
  }

  &_q {
    @include fontsize(16);
  }

  &_a {
    &::before {
      content: "A";
    }

    &::after {
      position: absolute;
      top: 2.5rem;
      left: 0;
      width: 100%;
      height: 0.1rem;
      margin: auto;
      content: "";
      @include mq() {
        top: spSize(12);
      }
    }
  }
}

/* /FAQ  */
