@use "../../abstracts" as *;
@use "sass:math";

/* テーブル  */

table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  background: none;

  th,
  td {
    padding: 0.5rem;
    // white-space: nowrap;
    vertical-align: middle;
  }
  //スクロールバー装飾
  //  &::-webkit-scrollbar{
  //     width: .6rem;
  //  }
  // &::-webkit-scrollbar-track {
  //   background-color: none;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: rgba(#212121, 0.5);
  //   border-radius: 1rem;
  // }
}

.u_table {
  ///-----------------下線・上線のみ//

  &.-line {
    border: 0;
    border-top: 0.1rem solid $colorTableBorder;

    th,
    td {
      border: 0;
    }

    tr {
      border-bottom: 0.1rem solid $colorTableBorder;
    }
  }
  ///-----------------列の色が互い違い//

  &.-stripe {
    tbody {
      tr td:nth-of-type(even) {
        background-color: $colorTableHighlight;
      }
    }
  }
  ///-----------------行の色が互い違い//
  &.-border {
    td {
      background-color: transparent;
    }

    tr:nth-child(odd) {
      background-color: transparent;
    }

    tr:nth-child(even) {
      background-color: $colorTableHighlight;
    }
  }
  ///-----------------角丸//
  &.-radius {
    overflow: hidden;
    border-radius: 2rem;

    th,
    td {
      padding: 1em;
    }
  }
}

///-----------------SP時縦積み//

@include mq(sp) {
  .-resTable {
    th,
    td {
      display: block;
      width: 100% !important;
      border-top-width: 0;
    }
  }
}

///-----------------SP時スクロール//
@include mq(sp) {
  .scrollTable {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior: none;
    transform: translate(-0.1rem, -0.1rem);
    -webkit-overflow-scrolling: touch;

    > table {
      position: relative;
      width: 100%;

      .-stickyCol {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        border-top: none;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: calc(100% + 0.1rem);
          content: "";
          border-top: 0.1rem solid $colorTableBorder;
          border-bottom: 0.1rem solid $colorTableBorder;
        }
      }

      .-sticky {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        border-left: none;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: calc(100% + 0.1rem);
          height: 100%;
          content: "";
          border-right: 0.1rem solid $colorTableBorder;
          border-left: 0.1rem solid $colorTableBorder;
        }
      }

      &::after {
        position: absolute;
        top: 0;
        left: 100%;
        width: spSize(32);
        height: 1px;
        content: "";
        background-color: transparent;
      }
    }

    &::after {
      position: sticky;
      left: 0.5em;
      margin: 1em 0.5em;
      font-size: 80%;
      content: "※横にスクロールしてご覧ください";
    }
  }
}

///-----------------診療時間//

// .timeTable {
//   // border: .1rem solid #cccccc;
//   font-size: 1.1rem;

//   thead {
//     th, td {
//       // border-bottom: .1rem solid #cccccc;
//       padding: 8px;
//       text-align: center;
//       letter-spacing: 0.27em;
//       color: $color-reversal;
//       background: lighten($color-prime, 0);
//     }
//   }
//   tbody {
//     tr {
//       border-bottom: .1rem solid $color-prime;
//     }
//     th, td {
//       padding: 10px;
//       font-weight: normal;
//       text-align: center;
//       vertical-align: middle;
//       // border: .1rem solid #cccccc;
//     }
//     th {
//       width: 160px;
//       letter-spacing: 0.15em;
//     }
//     td {
//       color: $color-prime;
//       span {
//         // font-weight: normal;
//         color: $color-txt;
//       }
//     }
//   }
// }

/* /テーブル  */
