<!-- ニュース一覧 -->

section(class="md:py-[14rem] py-[8rem]")
  .contentInner.scrollIn.-up
    h2.text-h2.font-bold(class="mb-[1em]") ニュースコンポーネント
    p(class="mb-[3rem]") jsonからお知らせの情報動的に表示するweb Componentsです。<br><a href="/_assets/js/news.json" target="_blank" rel="noopener" class="underline">jsonファイル</a>を更新することで一覧ページや詳細ページに内容が反映されるので、静的案件でもお知らせの更新や管理が容易になります。
    ul.list-disc(class="pl-[1em] mb-[5rem]")
      li <span class="text-red bg-gray font-bold">srcオプション</span>でjsonファイルのアドレスを相対パスで指定します。
      li トップページなど、記事一覧ページ以外に設置する場合は<span class="text-red bg-gray font-bold">hrefオプション</span>で記事一覧ページのリンク先を相対パスで指定できます。
      li <span class="text-red bg-gray font-bold">visibleオプション</span>で1ページに表示する最大件数を指定できます。</span>
      li <span class="text-red bg-gray font-bold">headlineオプション</span>でヘッドラインに表示する最大件数を指定できます。
      li 詳細ページは記事一覧ページで動的に生成されます。記事の順番はjsonの配列番号に従います。
      li jsonファイルにlinkが指定されている場合は自動生成の記事ではなく、当該urlにリンクします。
      li デフォルトではセキュリティの観点から相対パスのみ受け付けるようにしていますが、型を整形すればJSON APIやREST APIから表示データを参照することも可能です。
      li スタイリングは変更可能ですが、DOM構造やJSONの型を変更する場合はjsの編集が必要です。

    h3.text-h3(class="mb-[1em]") サンプルコード
    .bg-gray(class="mb-[5rem] p-[1em]")
      code &lt;news-archive src="/_assets/js/news" href="/news/archive/" headline="3" visible="4"&gt;<br>&lt;!-- JSONデータから動的に生成 --&gt;<br>&lt;/news-archive&gt;

    .grid.items-center(class="md:grid-cols-[24rem,1fr] md:gap-x-[min(20%,12rem)] gap-y-[4rem] mb-[5rem]")
      .flex-col.justify-between.contents.w-full(class="md:flex")
        h2.text-prime.text-left.text-h2.font-bold(class="md:mb-[4rem]")
          span.c_ttl_h2__en.scrollIn.-up.-each お知らせ
        a.c_btn.w-full(href="/news/archive/") もっと見る
      .scrollIn.-up
        news-archive(src="/_assets/js/news", href="/news/archive/", headline="3")

    a.c_btn(href="/", class="my-[2.4rem] max-w-[28rem]") 戻る

<!-- /ニュース一覧 -->
