@use "../abstracts" as *;

/* ボタン */

// ボタン
$colorBtn: $color-prime; // 背景色
$colorBtnTxt: $color-reversal; // 文字色
$colorBtn_hover: $colorBtnTxt; // ホバー時背景
$colorBtnTxt_hover: $colorBtn; // ホバー時文字色

.c_btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-weight: bold;
  color: #212121;
  text-decoration: none;
  border: 0.1rem solid #212121;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 0 0 #212121;
  transition:
    translate 0.2s,
    box-shadow 0.2s;
  @include hover {
    box-shadow: none;
    translate: 0 0.3rem;
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: auto;
    content: "";
    border-radius: 0.8rem;
    outline: 0.3rem solid #448aff;
    outline-offset: 0;
    opacity: 0;
  }

  &.-color {
    position: relative;
    height: 4.8rem;
    aspect-ratio: 1/1;
    padding: 0.5rem;

    &.-select {
      position: relative;
      pointer-events: none;
      border-color: transparent;
      box-shadow: none;

      &::after {
        opacity: 1;
      }
    }

    .btnColor {
      width: 100%;
      height: 100%;
      border: 0.1rem solid #212121;
      border-radius: 0.8rem;

      &.-black {
        background-color: #212121;
      }

      &.-gray {
        background-color: #c9c9c9;
      }
    }
  }

  &[target="_blank"] {
    &::after {
      @include mask(blank, $color-reversal);
    }
    @include hover {
      &::after {
        background-color: var(--color-prime);
        translate: none;
      }
    }
  }

  &[href^="#"] {
    &::after {
      width: 1.2rem;
      height: 1.2rem;
      background: none;
      border: solid 0.15rem var(--color-white);
      border-width: 0 0.15rem 0.15rem 0;
      mask-image: none;
      transition:
        border-color var(--transition-base),
        translate var(--transition-base);
      rotate: 45deg;
    }
    @include hover {
      &::after {
        border-color: var(--color-prime);
        translate: 0 0.3rem;
      }
    }
  }

  &.-invert {
    color: var(--color-prime);

    &::before {
      transform: scale(0, 1);
      transform-origin: right top;
    }

    &::after {
      background-color: var(--color-prime);
    }

    &[href^="#"] {
      &::after {
        background: none;
        border-color: var(--color-prime);
      }
    }
    @include hover {
      color: var(--color-white);

      &::before {
        transform: scale(1, 1);
        transform-origin: left top;
      }

      &::after {
        background-color: var(--color-white);
      }

      &[href^="#"] {
        &::after {
          background: none;
          border-color: var(--color-white);
        }
      }
    }
  }
}

/* /ボタン  */
