@use "../abstracts" as *;

/* フィルター  */

.c_filter {
  .c_filter_list {
    li {
      position: relative;
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 5.6rem;
      color: $color-reversal;
      background-color: $color-prime;
      border: 0.15rem solid $color-prime;
      border-radius: 999rem;
      transition:
        background-color 0.4s,
        color 0.4s;
      @include hover() {
        color: $color-prime;
        background-color: $color-reversal;
      }
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      appearance: none;

      &:checked {
        + label {
          color: $color-prime;
          background-color: $color-reversal;
        }
      }
    }
  }

  &_more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 24rem;
    height: 5.6rem;
    margin: 1.6rem auto;
    color: $color-reversal;
    text-align: center;
    background-color: $color-prime;
    border: 0.15rem solid $color-prime;
    border-radius: 999rem;
    transition:
      background-color 0.4s,
      color 0.4s;
    @include hover() {
      color: $color-prime;
      background-color: $color-reversal;
    }
  }

  &_item,
  &_more {
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
  }

  .-visible {
    display: block;
    opacity: 1;
    animation: fade 0.4s;
  }
}
