@use "../abstracts" as *;

/* 見出し  */

.c_ttl {
  &_item {
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: calc(32 / 24);
  }

  &_18 {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
  }
}

/// -----------------数字つき見出し//

.-numTtl {
  position: relative;
  padding-left: 2.8em;
  text-indent: -2.9em;

  &::before {
    margin-right: 0.1em;
    color: $color-prime;
    content: counter(number, decimal-leading-zero) "."; // lower-alpha
    counter-increment: number 1;
    @include fontsize(32, 24);
  }
}

/// -----------------背景つき見出し出し分け//

// $list: forte, think, service;

// @each $val in $list {
//   .underTitle.h1_#{$val} {
//     background-image: url($imgPath + "h1_#{$val}.jpg");
//     @include mq() {
//       background-image: url($imgPath + "h1_#{$val}_sp.jpg");
//     }
//   }
// }

/* /見出し  */
