@use "../abstracts" as *;

/* タグ  */

.c_tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 2.4rem;

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.1rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-reversal;
    background-color: #424242;
  }
}
