@use "../abstracts" as *;
@use "sass:math";

/// -----------------フェードインアニメーション//
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// 移動距離
$range: 5rem;
// 時間
$time: 1s;

.scrollIn,
.loadIn {
  opacity: 0;
  transition:
    transform $time ease-out,
    opacity $time ease-out;

  &.-up {
    transform: translate(0, $range);
  }

  &.-down {
    transform: translate(0, -$range);
  }

  &.-right {
    transform: translate($range, 0);
  }

  &.-left {
    transform: translate(-$range, 0);
  }

  &.-scale {
    transform: scale(0);
  }

  &.-active {
    opacity: 1;
    transition:
      transform $time ease-out,
      opacity $time ease-out;
    transform: none;
    @for $i from 2 through 10 {
      &.-each ~ .-each:nth-of-type(#{$i}) {
        animation-delay: #{$i * 800}ms;
      }
    }
  }
}
