<!--アコーディオンコンテンツ -->

- const accordion = ["アコーディオン", "アコーディオン", "アコーディオン"];

section(class="my-[3rem]")
  .contentInner
    h2.font-bold(class="md:text-[2.4rem] mb-[2em]") アコーディオンコンテンツ
    each val, i in accordion
      if i == 0
        details.c_pull.-open(open)
          summary.c_pull_ttl
            h3.font-bold(class="md:text-[1.8rem] pb-[1em]") アコーディオン !{ i + 1 }
          .c_pull_content
            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
      else
        details.c_pull
          summary.c_pull_ttl
            h3.font-bold(class="md:text-[1.8rem] pb-[1em]") アコーディオン !{ i + 1 }
          .c_pull_content
            p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
    details.c_pull.-open.-spPull(open)
      summary.c_pull_ttl
        h3 SPのみアコーディオン
      .c_pull_content
        p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。<br>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

section(class="my-[3rem]")
  .contentInner
    h2.font-bold(class="md:text-[2.4rem] mb-[2em]") FAQコンテンツ
    ul.c_faqList
      each val, i in accordion
        li.c_faqList_item(class="p-[2.4rem] [&:not(:last-child)]:mb-[3.2rem]")
          details.c_pull
            summary.c_pull_ttl
              h3.c_faqList_q.flex.justify-start.items-center 質問 !{ i + 1 }
            .c_pull_content.c_faqList_a(class="pt-[1.9rem] md:pt-[4rem] pr-[0.2rem]")
              p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。<br>あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
              a(href="") リンク

<!--/アコーディオンコンテンツ -->
