section(class=`my-[3rem]`)
  .contentInner
    h2(class=`font-bold md:text-[2.4rem] mb-[2em]`) ボタン
    a.btnStyle(href="") ボタン
    a.btnStyle.-invert(href="") ボタン
    a.btnStyle.-reversal(href="") ボタン
    a.btnStyle.-invert.-reversal(href="") ボタン
    a.btnStyle.-more(href="") ボタン
    a.btnStyle.-blank(href="") ボタン

