section(class=`my-[3rem]`)
  .contentInner.countReset
    h2(class=`font-bold md:text-[2.4rem] mb-[2em]`) テキスト
    p 日本国民は、正当に選挙された国会における代表者を通じて行動し、われらとわれらの子孫のために、諸国民との協和による成果と、わが国全土にわたつて自由のもたらす恵沢を確保し、政府の行為によつて再び戦争の惨禍が起ることのないやうにすることを決意し、ここに主権が国民に存することを宣言し、この憲法を確定する。そもそも国政は、国民の厳粛な信託によるものであつて、<span class="text-prime">その権威は国民に由来し</span>、その権力は国民の代表者がこれを行使し、その福利は国民がこれを享受する。これは人類普遍の原理であり、この憲法は、<span class="-txtMarker">かかる原理に基くものである。</span>われらは、これに反する一切の憲法、法令及び詔勅を排除する。
    p.indent-1
     | 日本国民は、正当に選挙された国会における代表者を通じて行動し、われらとわれらの子孫のために、諸国民との協和による成果と、わが国全土にわたつて自由のもたらす恵沢を確保し、政府の行為によつて再び戦争の惨禍が起ることのないやうにすることを決意し、ここに主権が国民に存することを宣言し、この憲法を確定する。<br>そもそも国政は、国民の厳粛な信託によるものであつて、その権威は国民に由来し、その権力は国民の代表者がこれを行使し、その福利は国民がこれを享受する。これは人類普遍の原理であり、この憲法は、かかる原理に基くものである。

     p.-txtTable 日本国民は、正当に選挙された<br>国会におけ<span class="font-bold">る代表者を通じて行動し</span>、<br>
     | <span class="-txtCaution">日本国民は、正当に選挙された国会における代表者を通じて行動し、日本国民は、正当に選挙された国会における代正当に選挙された国会における代表者を通じて行動し、日本国民は、正当に選挙された国会における代表者</span>

     button.skipLink リード文リード文リード文
