-
  common = {
      head: {
      sitename    : '◯◯◯◯◯◯',
      dmain       : 'https://www.XXXXX.XX.XX/',
      ogp         : 'https://www.XXXXX.XX.XX/_assets/img/ogp.jpg',
      icon        : '/favicon.ico',
      logo        : 'https://www.XXXXX.XX.XX/_assets/img/logo.svg',
      copyright   : 'XXXX',
      assets      : '/_assets/',
    },
    menu: [
      {
        link: "/",
        txt: "トップ",
      },
      {
        link: "/about/",
        txt: "アバウト",
      },
    ],
  }
