@use "../abstracts" as *;

/* トップ */
.textLink {
  position: relative;
  // PC/SPサイズで一括出力できますPCのみならSP時も同じサイズ
  @include fontsize(15, 18);

  // :hoverと:focus-visibleを一括で出力できます
  @include hover() {
    color: $colorSecond;
  }

  // "pc" or "sp"でPC時（>=）、SP時（<）になります。デフォルトではPC時の表示。
  // 第二引数に数値（単位なし）を指定で該当のブレイクポイントになります。デフォルトでは設定ファイルのサイズ
  @include mq() {
    color: red;
  }

  &::after {
    display: inline-block;
    height: 1em;
    aspect-ratio: 1/1;
    margin: auto;
    margin-left: 0.5em;
    vertical-align: middle;
    content: "";
    // svgをmas-kimage化するプロパティを一括で出力します。
    // 第一引数でsrc/scss/abstracts/_svg.scssに登録したsvgを第二引数で色を指定します。
    @include mask(blank, red);
  }
}

.bg {
  background: url($imgPath + "top/noimage.png");
}

/* /トップ */
