-
  about = {
    head: {
      title       : "タイトルタイトルタイトル｜タイトルタイトル",
      description : 'テキストテキストテキストテキストテキストテキスト',
      keywords    : 'テキスト,テキスト,テキスト,テキスト,テキスト',
      url         : 'about/',
    },
    content: {
    },
  }
