extends ../_base/_layout

block vars
  include ../_contents/_about
  - let slug = "about";
  - let head = about["head"];
  - let content = about["content"];
  - let imgPath = "/img/";

block contents
  include ../_component/_accordion
  include ../_component/_modal
  include ../_component/_tab
  //- include ../_component/_btn
  //- include ../_component/_heading
  //- include ../_component/_text
  //- include ../_component/_list
  //- include ../_component/_slide
  //- include ../_component/_hover
  //- include ../_component/_animation
  //- include ../_component/_table
  //- include ../_component/_popover
