<!--アコーディオンコンテンツ -->

- const accordion = ["アコーディオン", "アコーディオン", "アコーディオン"];

section
  .contentInner
    h2 アコーディオンコンテンツ
    each val in accordion
      details.c_pull.-open(open)
        summary.c_pull_ttl
          h3 アコーディオン
        .c_pull_content(tabindex="1")
          p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

<!--/キービジュアルコンテンツ -->
