<!--アコーディオンコンテンツ -->

- const accordion = ["アコーディオン","アコーディオン","アコーディオン"]

section
  .contentInner
    h2.c_ttl_h2 アコーディオンコンテンツ
    for val in accordion
      details.c_pull.-open(open)
        summary.c_pull_ttl
          h3.c_ttl_h3 アコーディオン
        .c_pull_content(tabindex="1")
          p コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
    details.c_pull.-open.-spPull(open)
      summary.c_pull_ttl
        h3.c_ttl_h3 アコーディオン
      .c_pull_content(tabindex="1")
        p コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ<br>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ
        img(src='/_assets/img/week/bnr_img004.jpg', alt='' width='' height='' decoding='async' loading='lazy')

<!--/キービジュアルコンテンツ -->
