extends ../_base/_layout

block vars
  include ./_contents
  - let slug = "top";
  - let head = top["head"];
  - let content = top["content"];
  - let imgPath = "/img/";
  - let imgPathLocal = "/img/" + slug + "/";

block contents
  include ./_parts/_content

  .contentInner(class="py-[5rem]")
    a.c_btn(href="/help/", class="max-w-[32rem]") 戻る
