@use "sass:math";

$fontNoto: "Noto Sans JP", "NotoSansJP", "Noto Sans Japanese", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontGothic:
  "Helvetica Neue",
  arial,
  "游ゴシック体",
  yugothic,
  yu gothic,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  meiryo,
  sans-serif;
$fontMincho: "游明朝体", yumincho, "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", hiraminpron-w3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", georgia, times, "Times New Roman", serif;

// フォント設定
$baseFont: $fontNoto;
$h1: 64, 48; // PCサイズ/SPサイズ
$h2: 56, 48;
$h3: 36, 28;
$h4: 24, 20;
$h5: 32, 18;
$xLargeFontSize: 20, 16;
$largeFontSize: 18, 16;
$baseFontSize: 16, 15;
$smallFontSize: 15, 14;
$xSmallFontSize: 12, 10;

// 画面サイズ
$containerSize: 1200; // コンテンツ幅
$brakePoint: 768; // ブレイクポイント
$pcDesign: 1366; // PCデザインサイズ
$spDesign: 375; // SPデザインサイズ
$logoWidth: 200; // ロゴ幅

// 画像パス
$imgPath: "/img/";

:root {
  // フォント
  --font-leading: calc(27 / 15);
  --font-weight-normal: 400;

  // カラー
  --color-txt: #463e2c; // テキストカラー
  --color-reversal: #fff; // テキスト反転
  --color-gray: #d6d4d0; // グレースケール
  --color-prime: #463e2c; // プライムカラー
  --color-second: #dfdccd; // セカンドカラー
  --color-third: #e5e3df; // サードカラー
  --color-body: #fff; //  ボディカラー
  --color-higilight: #f8f8f7; // ボディハイライト

  // ヘッダー高さ
  --headerHeight: 7.2rem; // 固定ヘッダーの場合の高さ。固定じゃない場合は0に

  // PC時
  @media screen and (width >= #{math.div($brakePoint,16)} + em) {
    --headerHeight: 10.3rem;
    --font-leading: calc(30 / 16);
  }
}

// カラーパレット
$colorTxt: var(--color-txt);
$colorTxtReversal: var(--color-reversal);
$colorGray: var(--color-gray);
$colorPrime: var(--color-prime);
$colorSecond: var(--color-second);
$colorThird: var(--color-third);
$colorBody: var(--color-body);
$colorHighlight: var(--color-higlight);

// ボタン
$colorBtn: $colorPrime; // 背景色
$colorBtnTxt: $colorTxtReversal; // 文字色
$colorBtn_hover: $colorBtnTxt; // ホバー時背景
$colorBtnTxt_hover: $colorBtn; // ホバー時文字色

// テーブル
$colorTableBorder: $colorPrime;
$colorTableTh: $colorPrime;
$colorTableTd: $colorBody;
$colorTableHighlight: $colorHighlight;
