-
  common = {
      head: {
      sitename    : '◯◯◯◯◯◯',
      dmain       : 'https://www.XXXXX.XX.XX/',
      ogp         : 'https://www.XXXXX.XX.XX/_assets/img/ogp.jpg',
      icon        : '/favicon.ico',
      logo        : 'https://www.XXXXX.XX.XX/_assets/img/logo.svg',
      copyright   : 'XXXX',
      assets      : '/_assets/',
    },
    menu: [
      {
        link: "/",
        txt: "トップ",
      },
      {
        link: "/about/",
        txt: "アバウト",
        child: [
          {
            link: "#",
            txt: "子メニュー",
          },
          {
            link: "#",
            txt: "子メニュー",
          },
        ]
      },
      {
        link: "",
        txt: "メニュー3",
        child : [
          {
            link: "",
            txt: "子メニュー",
          },
          {
            link: "",
            txt: "子メニュー",
          },
          {
            link: "",
            txt: "子メニュー",
          },
        ]
      },
    ],
  }
