<!-- ニュース一覧 -->

section(class="md:py-[14rem] py-[8rem]")
  .contentInner.scrollIn.-up
    h2.text-h2.font-bold(class="mb-[1em]") Newコンポーネント
    p(class="mb-[3rem]") jsonからお知らせの情報動的に表示するweb Componentsです。<br><a href="/_assets/js/news.json" target="_blank" rel="noopener" class="underline">jsonファイル</a>を更新することで一覧ページや詳細ページに内容が反映されるので、静的案件でもお知らせの更新や管理が容易になります。
    ul.list-disc(class="pl-[1em] mb-[5rem]")
      li srcオプションでjsonファイルのアドレスを指定できます。
      li hrefオプションで詳細ページのリンク先を指定し、配列番号に従ってアンカーリンクを付与します。
      li 詳細ページではアンカー部分を参照して当該記事を自動生成します。
      li jsonでlinkが指定されている場合は自動生成記事ではなく、当該urlにリンクします。
      li limitオプションで最大表示件数を指定します。
      li デフォルトではセキュリティ対策のため外部リンクは除外するようにしていますが、型を整形すればJSON APIやREST APIから表示データを参照することも可能です。

    h3.text-h3(class="mb-[1em]") ニュース一覧のコンポーネント
    .bg-gray(class="mb-[5rem] p-[1em]")
      code &lt;news-list src="/_assets/js/news" href="/about/post.html" limit="3"><br>&lt;!-- JSONのデータを整形して動的に生成 --&gt;<br>&lt;/news-list&gt;

    h3.text-h3(class="mb-[1em]") 詳細ページのコンポーネント
    .bg-gray(class="mb-[5rem] p-[1em]")
      code &lt;news-single src="/_assets/js/news"><br>&lt;!-- JSONのデータを整形して動的に生成 --&gt;<br>&lt;/news-single&gt;

    .grid.items-center(class="md:grid-cols-[24rem,1fr] md:gap-x-[min(20%,12rem)] gap-y-[4rem] mb-[5rem]")
      .flex-col.justify-between.contents.w-full(class="md:flex")
        h2.text-prime.text-left.text-h2.font-bold(class="md:mb-[4rem]")
          span.c_ttl_h2__en.scrollIn.-up.-each お知らせ
      .scrollIn.-up
        news-list(src="/_assets/js/news", href="/about/post.html", limit="3")

<!-- /ニュース一覧 -->
