<!--詳細コンテンツ -->

section
  .contentInner
    h1 アバウトページ
    figure
      img(src=imgPath + "top/noimage.jpg", alt="", width="800", height="600", decoding="async", loading="lazy")
    p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

    .bg
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
<!--/詳細コンテンツ -->
