<!--詳細コンテンツ -->

section
  .contentInner
    h1 アバウトページ
    .grid.grid-cols-2(class="gap-[3rem] mb-[3.2rem]")
      div
        h3.text-h3.color-prime(class="mb-[0.5em]") Tailwindでの記述
        p.text-lg
          | あの
          span.bg-prime.text-xl.text-reversal イーハトーヴォ
          | のすきとおった風、夏でも底に冷たさをもつ青いそら、<span class="text-third">うつくしい森で飾られたモリーオ市</span>、郊外のぎらぎらひかる草の波。
      .text-box
        h2.text-box-ttl scssでの記述
        p.text-box-txt
          | あの
          span.text-box-txt-span イーハトーヴォ
          | のすきとおった風、夏でも底に冷たさをもつ青いそら、<span class="text-box-txt-span--blue">うつくしい森で飾られたモリーオ市</span>、郊外のぎらぎらひかる草の波。

    .grid.grid-cols-2(class="gap-[3rem] mb-[3.2rem]")
      div
        h2(class="text-[20px] mb-[0.5em]") pxでの記述
        p(class="text-[16px]")
          | あの
          span.font-bold.bg-prime.text-reversal(class="text-[18px]") イーハトーヴォ
          | のすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
      .text-box
        h2(class="text-[2rem] mb-[0.5em]") remでの記述
        p(class="text-[1.6rem]")
          | あの
          span.font-bold.bg-prime.text-reversal(class="text-[1.8rem]") イーハトーヴォ
          | のすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。

    .bg
      p あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られた<a href="#a01">モリーオ市</a>、郊外のぎらぎらひかる草の波。
<!--/詳細コンテンツ -->
