.grid(class="gap-[3.2rem]")
  .fadeUp
    section(class="md:pt-[6.4rem] pt-[3.6rem] mb-[3.2rem]")
      .contentInner
        span.block(class="md:mb-[1rem] mb-[0.8rem]")
          time(datetime="2025-09-05")
            | 2025年09月05日
        .flex(class="gap-[1.6rem] mb-[1.2rem]")
          span.bg-prime.text-reversal.text-sm(class="p-[0.1em_0.5em]")
            | 東京
        h1.font-bold.text-h1
          span.c_ttl_h1__jp
            | 静的に作成したページ
    section(class="md:mb-[2.4rem] mb-[1.6rem]")
      .contentInner
        .bg-highlight(class="md:rounded-[4rem] rounded-[5.6rem] md:p-[8rem] p-[5.6rem_2.4rem]")
          .overflow-hidden(class="rounded-[0.8rem] mb-[3.6rem]")
            img.object-cover.w-full(class="aspect-[240/160]", src="/img/top/noimage.jpg", width="480", height="320", decoding="async", loading="lazy")
          .postContent
            p これは静的に作成したページです。
    .contentInner
      a.c_btn(href="/news/", class="max-w-[24rem]") 記事一覧に戻る
