section(class="my-[3rem]")
  .contentInner
    h2.font-bold(class="md:text-[2.4rem] mb-[2em]") ボタン
    a.c_btn(href="") ボタン
    a.c_btn.-invert(href="") ボタン
    a.c_btn.-reversal(href="") ボタン
    a.c_btn.-invert.-reversal(href="") ボタン
    a.c_btn(href="#") ボタン
    a.c_btn.-invert(href="#") ボタン
    a.c_btn(href="", target="_blank", rel="noopener") ボタン
