section(class="my-[3rem]")
  .contentInner
    h2.font-bold.text-h2.scrollIn.-up(class="mb-[2.4rem]") その他のコンポーネント
    p(class="mb-[1.6rem]") 通常のhtml同様、DOM構造やスタイリングを自由に設定できるWeb components。
    ul
      li: a(href="/filter/") フィルタリングコンポーネント
      li: a(href="/news/") ニュースコンポーネント
      li: a(href="/help/") ヘルプツアーコンポーネント

<!-- /その他のコンポーネント -->
