<!--　トップページ -->
section
  .contentInner
    h2.scrollIn.-up タイトルタイトルタイトルタイトルタイトル
    p.scrollIn.-up あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
    figure.scrollIn.-up
      +imgPc("noimage.png", "仮画像", [800,600])

<!--/トップページ -->
