section(class="my-[3rem]")
  .contentInner.countReset
    h2.font-bold(class="md:text-[2.4rem] mb-[2em]") ホバー要素
    a.hoverNoize(href="", data-hover="テキストが入りますテキストが入ります") テキストが入りますテキストが入ります
    a.hoverLack(href="", data-hover="CONTACT") CONTACT
    a.hoverScale(href="")
      figure
        img(src=imgPath + "noimage.png", alt="mv", width="800", height="600", decoding="async", loading="lazy")
    a.hoverShine(href="")
      figure
        img(src=imgPath + "noimage.png", alt="mv", width="800", height="600", decoding="async", loading="lazy")
    a.hoverOpacity(href="")
      figure
        img(src=imgPath + "noimage.png", alt="mv", width="800", height="600", decoding="async", loading="lazy")
