#myCanvas
  canvas

section
  .contentInner
    h2.text-h2.font-bold(class="mb-[1em]") Three.jsモック
    p(class="mb-[1em]") 今後webGL案件でアニメーション部分の実装担当者と円滑にコミュニケーションを行うため、Three.jsの基本的な機能を使ったモックです。
    h3.text-h3(class="mb-[1em]") 実装内容
    ul.list-disc(class="pl-[1em] mb-[2em]")
      li canvasのレスポンシブ対応
      li マテリアルの実装
      li テクスチャ画像の非同期読み込み
      li 3Dアニメーションの実装
      li マウスコントロールでオブジェクト（カメラ）の操作
      li 光源の設定（ポインタの先にあります）
      li オブジェクトのクリックイベントを取得（上記光源とオブジェクトが重なった時に発火）
      li シェーダー(glslファイル)を利用したリッチな画像変更エフェクト
